<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Detector de rostros Stream</title>
</head>
<body>
    <div class="container pb-5">
        <div class="jumbotron mt-5">
            <h1 class="display-4 text-center pb-3">Detector de rostros Stream</h1>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>

    <!-- Footer con enlace al repositorio -->
    <footer class="footer fixed-bottom py-3 bg-dark">
        <div class="container text-center">
            <span class="text-light">Repositorio del proyecto: 
                <a href="https://github.com/DavidAr55/face_detection/tree/flask-app" target="_blank">https://github.com/DavidAr55/face_detection/tree/flask-app</a>
            </span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
