<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Transmisión de cámara web</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Transmisión de cámara web</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ url_for('video_feed') }}" allow="camera"></iframe>
            </div>
            <a class="btn btn-primary mt-3" href="{{ url_for('index') }}">Volver al inicio</a>
        </div>
    </div>

    <footer class="footer fixed-bottom py-3 bg-dark">
        <div class="container text-center">
            <span class="text-light">Repositorio del proyecto: 
                <a href="https://github.com/DavidAr55/face_detection/tree/flask-app" target="_blank">https://github.com/DavidAr55/face_detection/tree/flask-app</a>
            </span>
        </div>
    </footer>
</body>
</html>
