<!DOCTYPE html>
<html lang="en">

<head>
    <title>Face Classify - Webcam</title>
    {% include "components/head.html" %}
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        
        {% include "components/loader.html" %}
        
        {% include "components/lateral-nav.html" %}

        <!-- Content Start -->
        <div class="content">
            
            {% include "components/nav.html" %}

            <div class="container-fluid p-4 px-4">
                <div class="row"> <!-- Fila -->
                    <div class="col-md-8">
                        <div class="row bg-secondary rounded justify-content-center mx-0 pb-5">
                            <div class="col-md-12 text-center mt-5">
                                <h1 class="display-4 text-center pb-3">Webcam Face Detector</h1>
                                <img src="{{ url_for('video_feed_webcam') }}"><br>
                                <a class="btn btn-primary mt-5" href="{{ url_for('index') }}">Volver al inicio</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="row bg-secondary rounded justify-content-center mx-0 pb-5">
                                <div class="col-md-12 text-center mt-5">
                                    <h2 class="text-center pb-3">Gender detected</h2>
                                    <table id="gender-table" class="table table-striped table-dark border border-primary">
                                        <thead>
                                            <tr>
                                                <th scope="col"><h4>Male</h4></th>
                                                <th scope="col"><h4>Female</h4></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row" class="bg-secondary"><h4 id="male-count">0</h4></td>
                                                <td scope="row" class="bg-secondary"><h4 id="female-count">0</h4></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 text-center mt-5">
                                    <h2 class="text-center pb-3">Gender average</h2>
                                    <div class="chart-container">
                                        <canvas id="gender-pie-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

            {% include "components/footer.html" %}
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% include "components/scripts.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        const socket = io();

        // Inicializa los contadores y datos para la gráfica
        let currentMales = 0;
        let currentFemales = 0;

        // Configuración de la gráfica de pastel
        const ctx = document.getElementById('gender-pie-chart').getContext('2d');
        const genderPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Male', 'Female'],
                datasets: [{
                    data: [currentMales, currentFemales],
                    backgroundColor: ['#6200ea', '#b482fa'],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                        labels: {
                            color: 'white'
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                let label = context.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                if (context.raw !== null) {
                                    label += context.raw;
                                }
                                return label;
                            }
                        }
                    }
                }
            }
        });

        socket.on('update_counts', (data) => {
            console.log('Data received:', data);  // Para depuración
            document.getElementById('male-count').textContent = data.mens_detected;
            document.getElementById('female-count').textContent = data.womens_detected;
            
            // Actualiza los contadores actuales
            currentMales = data.mens_detected;
            currentFemales = data.womens_detected;

            // Actualiza la gráfica
            genderPieChart.data.datasets[0].data = [currentMales, currentFemales];
            genderPieChart.update();
        });
    </script>
</body>

</html>