<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0" style="border-bottom: 2px solid #9656f0;">
    <a href="dashboard" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <div class="p-3">
                <span class="d-none d-lg-inline-flex me-2">Created by: </span>
                <img class="rounded-circle me-lg-2" src="{{ url_for('static', filename='images/contributors/bread.jpg') }}" alt="" style="width: 40px; height: 40px;" alt="David Loera">
                <span class="d-none d-lg-inline-flex me-2">and</span>
                <img class="rounded-circle me-lg-2" src="{{ url_for('static', filename='images/contributors/hot_taco.jpg') }}" alt="" style="width: 40px; height: 40px;" alt="Carlos Lopez">
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->